<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Socialblood - About</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/navigationbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>

<ul class="nav nav-tabs">

                    <li role="presentation"><a href="/">Home</a></li>
                     {% if user.is_authenticated %}

                    <li role="presentation"><a href="/userrequests/">My Requests</a></li>
                    <li role="presentation"><a href="/request/">Request Blood</a></li>
                    <li role="presentation"><a href="/requestlist/">Request List</a></li>
                    <li class="active" role="presentation"><a href="#">About</a></li>
                    {% else %}
                    <!-- <li role="presentation"><a href="{% url 'register' %}">Register</a></li> -->
                    <li class="active" role="presentation"><a href="#">About</a></li>
                    <li role="presentation"><a href="/contact/">Contact</a></li>
                    <li role="presentation"><a href="{% url 'login'%}">Sign in</a></li>
                    {% endif %}
        {% if user.is_authenticated %}
        <div class=" user-section">
            <h1 class = "username">{{user.username}}</h1>
            <button class="myButton logout"><a href="/logout/">Logout</a></button>
        </div>
        {% else %}
        {% endif %}
    </div>
</ul>  

<div class="main-image">
    <!-- <img src="{% static 'images/bg.jpg' %}"> -->
    <h1 class="col-md-4">How the company came to be, why we do what we do
and the team behind Socialblood.</h1>
</div>

<div class="container">
        <div class="col-md-5">
            <h1>Socialblood is building the largest network of blood donors, Hospitals and Blood banks on the web.</h1>
            <p>Socialblood was founded by Karthik Naralasetty in 2011. He dropped out of Rutgers University, New Jersey to create his own tech-company and has been an Internet Entrepreneur ever since. In June 2011, he noticed the structural deficiencies in the local system of blood transfusions when he witnessed a family’s struggle to find a regular transfusion for their four year old to treat her Thalassemia; a disease which affects around 40 million Indians.</p>
            <p>
            At Socialblood, the mission is not only to create an easy, trustworthy and a reliable network of donors around the world but also grow together with Hospitals, Blood-banks and supporting organizations.We aim to change and disrupt the archaic ways of finding blood donors and build the largest network of voluntary donors around the world. Making it as easy as a few clicks.
            </p>
        </div>
        <!-- Div to provide middle padding -->
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="profile">
                <img src="{% static 'images/karthiknaralasetty.png' %}">
                <h1 class="name">Karthik Naralasetty</h1>
                <h2 class="role">Founder</h2>
                <p class="description">Karthik is a proud dropout from Rutgers University, An entrepreneur with a penchant to solve real world problems through technology.</p>
            </div>

            <div class="profile">
                <img src="{% static 'images/siddhartharun.png' %}">
                <h1 class="name">Siddharth Arun</h1>
                <h2 class="role">Chief of Design</h2>
                <p class="description">Siddharth is a UI/UX designer and love for all things minimalistic. His focus on solving problems through design makes the product easy to use and functional. </p>
            </div>

            <div class="profile">
                <img src="{% static 'images/abhinav.png' %}">
                <h1 class="name">Abhinav Srivastava</h1>
                <h2 class="role">Chief of Marketing</h2>
                <p class="description">Abhinav is Product Strategist. His focus on User Experience, Research and Marketing adds perspective to the product. </p>
            </div>

            <div class="profile">
                <img src="{% static 'images/vaironm.jpg' %}">
                <h1 class="name">Vairon Mendoza</h1>
                <h2 class="role">Full Stack Developer</h2>
                <p class="description">Vairon is a software developer with a high passion for Android and full stack software development.</p>
            </div>

            <div class="profile">
                <img src="{% static 'images/mithun.png' %}">
                <h1 class="name">Mithun Stephen</h1>
                <h2 class="role">Chief of Engineering</h2>
                <p class="description">Mithun is a well rounded Engineer. His work on Application Architecture and Backend development adds the necessary foundation to the product.</p>
            </div>
        </div>

        <div class="investors-advisors container-fluid">

            <h1 class="title">INVESTORS & ADVISORS</h1>

            <div class="investors-container">
                <div class="investor-profile">
                    <img src="{% static 'images/rajananandan.png' %}">
                    <div class="info">
                        <h1 class="name">Rajan Anandan</h1>
                        <h1 class="organization">Google India, MD</h1>
                    </div>
                </div>


                <div class="investor-profile">
                    <img src="{% static 'images/ravigururaj.png' %}">
                    <div class="info">
                        <h1 class="name">Ravi Gururaj</h1>
                        <h1 class="organization">VP Citrix</h1>
                    </div>
                </div>

                <div class="investor-profile">
                    <img src="{% static 'images/rameshkumar.png' %}">
                    <div class="info">
                        <h1 class="name">Ramesh Kumar Shah</h1>
                        <h1 class="organization">Harvard Angels</h1>
                    </div>
                </div>

                <div class="investor-profile">
                    <img src="{% static 'images/karthikreddy.png' %}">
                    <div class="info">
                        <h1 class="name">Karthik Reddy</h1>
                        <h1 class="organization">Blume Ventures</h1>
                    </div>
                </div>

                <div class="investor-profile">
                    <img src="{% static 'images/estherdyson.png' %}">
                    <div class="info">
                        <h1 class="name">Esther Dyson</h1>
                        <h1 class="organization">EDventure Holdings</h1>
                    </div>
                </div>

                <div class="investor-profile">
                    <img src="{% static 'images/rajeshanandan.png' %}">
                    <div class="info">
                        <h1 class="name">Rajesh Anandan</h1>
                        <h1 class="organization">SVP, UNICEF Ventures</h1>
                    </div>
                </div>

                <div class="investor-profile">
                    <img src="{% static 'images/vijaysharma.png' %}">
                    <div class="info">
                        <h1 class="name">Vijay Shekhar Sharma</h1>
                        <h1 class="organization">One97 Communications</h1>
                    </div>
                </div>
            </div>




        </div>
</div>

<footer class="navbar-fixed-bottom">
    <!-- <img src="{% static 'images/logo-dark.png' %}"> -->
    <h2>© Socialblood. All rights reserved</h2>
</footer>
</body>
</html>
