<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Socialblood Home</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/navigationbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>

<nav>
    <div class="logo">
        <img src="{% static 'images/logo-dark.png' %}">
    </div>
    <div class="nav-wrapper">
        <div class="nav-info">
             {% if user.is_authenticated %}
            <h3><a href="/request/">Request Blood</a></h3>
            <h3><a href="/requestlist/">Request List</a></h3>
            <h3><a href="#">About</a></h3>
            <h3><a href="#">Contact</a></h3>
            {% else %}
            <h3><a href="{% url 'login'%}">Login</a></h3>
            <h3><a href="{% url 'register' %}">Register</a></h3>
            <h3><a href="#">About</a></h3>
            <h3><a href="#">Contact</a></h3>
            {% endif %}

        </div>
    </div>
    {% if user.is_authenticated %}
    <div class=" user-section">
        <h1 class = "username">{{user.username}}</h1>
        <button class="myButton logout"><a href="/logout/">Logout</a></button>
    </div>
    {% else %}
    {% endif %}
</nav>

<div class="main-image">
    <img src="{% static 'images/map.png' %}">
    <h1>How the company came to be, why we do what we do
and the team behind Socialblood.</h1>
</div>

<!-- 		{% for post in posts %}
			<div>
				<h1><a href="">{{ post.title }}</a></h1>
				<p>{{ post.text|linebreaksbr }}</p>
			</div>
		{% endfor %} -->
</body>
</html>
