<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Socialblood Home</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/navigationbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>

<ul class="nav nav-tabs">

                    <li role="presentation"><a href="/">Home</a></li>
                     {% if user.is_authenticated %}

                    <li role="presentation"><a href="/userrequests/">My Requests</a></li>
                    <li role="presentation"><a href="/request/">Request Blood</a></li>
                    <li role="presentation"><a href="/requestlist/">Request List</a></li>
                    <li role="presentation"><a href="/about/">About</a></li>
                    <li class="active" role="presentation"><a href="#">Contact</a></li>
                    {% else %}
                    <!-- <li role="presentation"><a href="{% url 'register' %}">Register</a></li> -->
                    <li role="presentation"><a href="/about/">About</a></li>
                    <li class="active"  role="presentation"><a href="#">Contact</a></li>
                    <li role="presentation"><a href="{% url 'login'%}">Sign in</a></li>
                    {% endif %}
        {% if user.is_authenticated %}
       <li class="navbar-right" role="presentation"><a href="/logout/">Logout</a></li>
        <li class="navbar-right" role="presentation"><a >Welcome, {{user.username}}</a></li>
        {% else %}
        {% endif %}
    </div>
</ul>

<div class="container-fluid contact-info-container">
	<div class="contact-info">
    <div class="container-fluid">
		<h1>You have our complete attention</h1>
    </div>
    <div class="container-fluid">
		<p>93% of questions answered within 3 hours or less</p>
    </div>

            <div class="col-md-3"></div>
            <div class="col-md-3 button">
			     <a href="mailto:k@socialblood.org" class="email-button">Email us a question</a>
            </div>
            <div class="col-md-3 button">
			     <a href ="https://twitter.com/socialblood" target="_blank" class="tweet-button">Send us a tweet!</a>
            </div>
            <div class="col-md-3"></div>
	</div>
</div>
<div class="container">
    <div class="FAQ-section">
            <h1>FAQ</h1>

            <div class="question">
                <h1>1. What is Socialblood?</h1>
                <p>Socialblood is a community of donors where people donate when they feel like. For those looking for blood donors can raise a request and reach out to donors in their area. There is always a shortage of blood around the world and the only thing that can solve it is wilful donation.</p>
            </div>

            <div class="question">
                <h1>2. Why should I donate blood?</h1>
                <p>This world faces a problem. There is almost always a shortage of blood in developing and developing nations. (40,000 units of blood is required everyday in the United States). This problem could be solved if there were enough voluntary blood donations. You live in the same world as others and 90 minutes of your time once or twice a year could save 3 lives. Furthermore, its healthy donate blood!</p>
            </div>

            <div class="question">
                <h1>3. How can I raise a request?</h1>
                <p>You can click the 'Request Blood' button on the top right corner, fill in the details and you are done! Your request will be visible to the Socialblood donors in your area and in your city. You can also use the 'Search' bar and look for donors in your area.</p>
            </div>
            
    </div>
    <div class="">
        
    </div>
</div>

<footer>

    <!-- <img src="{% static 'images/logo-dark.png' %}"> -->
    <h2>© Socialblood. All rights reserved</h2>
    
</footer>
</body>
</html>
