<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Socialblood Home</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/navigationbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

<ul class="nav nav-tabs">

                     {% if user.is_authenticated %}
                    <li><a href="/userrequests/">My Requests</a></li>
                    <li><a href="/request/">Request Blood</a></li>
                    <li><a href="/requestlist/">Request List</a></li>
                    <li><a href="/about">About</a></li>
                    {% else %}
                    <a class="btn btn-default navbar-btn navbar-right" href="{% url 'login'%}">Login</a>

                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="#">About</a></li>
                    {% endif %}
                    <li><a href="/contact/">Contact</a></li>
        {% if user.is_authenticated %}
        <div class=" user-section">
            <h1 class = "username">{{user.username}}</h1>
            <button class="myButton logout"><a href="/logout/">Logout</a></button>
        </div>
        {% else %}
        {% endif %}
    </div>
</ul>   

<div class="main-image">
    <img src="{% static 'images/map.png' %}">
    <div class="intro">
        <p>
        This world faces a problem. There is almost always a shortage of blood in developing and developing nations.
        (40,000 units of blood is required everyday in the United States). This problem could be solved if there were
        enough voluntary blood donations. You live in the same world as others and 90 minutes of your time once or twice
        a year could save 3 lives. Furthermore, its healthy to donate blood!
        </p>
    </div>
</div>
<footer class="navbar-fixed-bottom">
    <img src="{% static 'images/logo-dark.png' %}">
    <h2>© Socialblood. All rights reserved</h2>
</footer>
</body>
</html>
