{% load staticfiles %}
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
{% block body_block %}
<ul class="nav nav-tabs">

                    <li role="presentation"><a href="#">Home</a></li>
                     {% if user.is_authenticated %}

                    <li role="presentation"><a href="/userrequests/">My Requests</a></li>
                    <li role="presentation"><a href="/request/">Request Blood</a></li>
                    <li role="presentation"><a href="/requestlist/">Request List</a></li>
                    <li role="presentation"><a href="/about/">About</a></li>
                    {% else %}
                    <li class="active" role="presentation"><a href="{% url 'register' %}">Register</a></li>
                    <li role="presentation"><a href="/about/">About</a></li>
                    <li role="presentation"><a href="/contact/">Contact</a></li>
                    <li role="presentation"><a href="{% url 'login'%}">Sign in</a></li>
                    {% endif %}
        {% if user.is_authenticated %}
        <div class=" user-section">
            <h1 class = "username">{{user.username}}</h1>
            <button class="myButton logout"><a href="/logout/">Logout</a></button>
        </div>
        {% else %}
        {% endif %}
    </div>
</ul>  
<div class="wrapper">
{% if registered %}
	<h1><strong>thank you for registering!</strong></h1>
	<a href="/rango/">Return to the homepage.</a><br/>
	{% else %}
	<h1><strong>Register Here!</strong></h1>
	<form id="user_form" method="post" action="/register/"
	      enctype="multipart/form-data">
	    {% csrf_token %}
	    <!-- Display each form  -->
	    {{ user_form.as_p }}
	    <!--{{ profile_form.as_p }}-->
	    <!-- Provide a button to click to submit the form. -->
	    <input class = "submit-button" type="submit" name="submit" value="Register"/>
	    </form>
{% endif %}
</div>
{% endblock %}