<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blood Request</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/navigationbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <link rel="stylesheet" href="{% static 'css/request.css' %}">
</head>
<body>


<ul class="nav nav-tabs">

                    <li role="presentation"><a href="/">Home</a></li>
                     {% if user.is_authenticated %}

                    <li role="presentation"><a href="/userrequests/">My Requests</a></li>
                    <li class="active" role="presentation"><a href="#">Request Blood</a></li>
                    <li role="presentation"><a href="/requestlist/">Request List</a></li>
                    <li role="presentation"><a href="/about/">About</a></li>
                    <li role="presentation"><a href="/contact/">Contact</a></li>
                    {% else %}
                    <!-- <li role="presentation"><a href="{% url 'register' %}">Register</a></li> -->
                    <li role="presentation"><a href="/about/">About</a></li>
                    <li role="presentation"><a href="/contact/">Contact</a></li>
                    <li role="presentation"><a href="{% url 'login'%}">Sign in</a></li>
                    {% endif %}
        {% if user.is_authenticated %}
        <!--<div class=" user-section">-->
            <!--<h1 class = "username">{{user.username}}</h1>-->
            <!--<button class="myButton logout"><a href="/logout/">Logout</a></button>-->
        <!--</div>-->
        <!--<p class="navbar-text navbar-right nav-username"><a href="#" class="navbar-link">{{user.username}}</a></p>-->
        <li class="navbar-right" role="presentation"><a href="/logout/">Logout</a></li>
        <li class="navbar-right" role="presentation"><a >Welcome, {{user.username}}</a></li>

        {% else %}
        {% endif %}
    </div>
</ul>



<div class="container">
   {% if user.is_authenticated %}
   <form action="/request/" method="post">
    {% csrf_token %}
    {{ form }}
    <input class="myButton submitButton" type="Submit" value="Submit">
    </form>

   {% else %}
   <h1>Please login to make a request</h1>
   {% endif %}
</div>
</body>
</html>