<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Requests Made</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/navigationbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <link rel="stylesheet" href="{% static 'css/requeststyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <script type="text/javascript" src="{% static 'js/search.js'%}"></script>
</head>
<body>



<ul class="nav nav-tabs">

                    <li role="presentation"><a href="/">Home</a></li>
                     {% if user.is_authenticated %}

                    <li role="presentation"><a href="/userrequests/">My Requests</a></li>
                    <li role="presentation"><a href="/request/">Request Blood</a></li>
                    <li class="active"  role="presentation"><a href="#">Request List</a></li>
                    <li role="presentation"><a href="/about/">About</a></li>
                    <li role="presentation"><a href="/contact/">Contact</a></li>
                    {% else %}
                    <!-- <li role="presentation"><a href="{% url 'register' %}">Register</a></li> -->
                    <li role="presentation"><a href="/about/">About</a></li>
                    <li role="presentation"><a href="/contact/">Contact</a></li>
                    <li role="presentation"><a href="{% url 'login'%}">Sign in</a></li>
                    {% endif %}
        {% if user.is_authenticated %}
        <!--<div class=" user-section">-->
            <!--<h1 class = "username">{{user.username}}</h1>-->
            <!--<button class="myButton logout"><a href="/logout/">Logout</a></button>-->
        <!--</div>-->
        <!--<p class="navbar-text navbar-right nav-username"><a href="#" class="navbar-link">{{user.username}}</a></p>-->
        <li class="navbar-right" role="presentation"><a href="/logout/">Logout</a></li>
        <li class="navbar-right" role="presentation"><a >Welcome, {{user.username}}</a></li>

        {% else %}
        {% endif %}
    </div>
</ul>

<div class="wrapper container">

    <input class="container" type="text" id="searchRequestInput" onkeyup="searchFunction()" placeholder="Search by location...">

<div class="requestUL">
        {% for request in object_list %}
            <div class="entry container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="user">
                            <h1><img src="{% static 'images/icons/avatar.png' %}"> {{request.user.username}}</h1>
                        </div>
                        <div class="blood_type">
                            <h1>Blood type: {{ request.blood_type }}</h1>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="location">
                                <h1><img src="{% static 'images/icons/placeholder.png' %}"> {{request.location}}</h1>
                        </div>                        
                    </div>

                    <div class="col-md-4">
                        <div class="phone_number">
                            <h1>Phone: {{request.phone_number}}</h1>
                        </div>
                        <!-- <button class="myButton logout"><a href="/delete/{{ request.id }}">Delete</a></button> -->
                        <!-- <div class="id">
                            <h1>ID: {{ request.id }}</h1>
                        </div> -->
                    </div>
                </div>
                <!-- <div class="line"> -->
                    
                <!-- </div> -->
                    
                    
            </div>


        {% endfor %}
    </div>

<footer class="navbar-fixed-bottom">
    <!-- <img src="{% static 'images/logo-dark.png' %}"> -->
    <h2>© Socialblood. All rights reserved</h2>
</footer>

</div>

</body>
</html>