{% load staticfiles %}
<html>
<head>
    <title>Socialblood Home</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/navigationbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script type="text/javascript" src="{% static 'js/animation.js' %}"></script>
</head>
<body>

<nav>
    <div class="logo">
        <img src="{% static 'images/logo-dark.png' %}">
    </div>
</nav>

<div class="container">
    <center><p>Thank you for submitting a blood request.</p></center>
    <center><h1><a href="/">Return to Home Page</a></h1></center>
</div>
</body>
</html>
