/*FONTS*/
@import 'https://fonts.googleapis.com/css?family=Roboto';

*
{
	font-family: 'Roboto', sans-serif;
	font-size:1em;
}

body
{
	/*background-color: rgba(230, 230, 230, 0.4);*/
	background-color: #f5f8f8;
}


.container
{
	width: 60%;
	margin:0 auto;
	height: 480px;
}

.container p
{
	font-size: 1.5em;
	letter-spacing: 1px;	
	font-weight: 200;
	position: relative;
	top:5%;
	margin-bottom:5%;
}