/*FONTS*/
@import 'https://fonts.googleapis.com/css?family=Roboto';

*
{
	font-family: 'Roboto', sans-serif;
	font-size:1em;
}

html
{
	height: 100%;
	padding:0;
	margin:0;
}

body
{
	/*background-color: rgba(230, 230, 230, 0.4);*/
	background-color: #373f54;
}

.main-image
{
	position: relative;
	width: 100%;
}

.main-image img
{
	width: 100%;
	margin:0 auto;
	position: relative;
	/*height: 960px;*/
}

.main-image p
{
	position: relative;
	top: 0px;
	margin:0 auto;

	font-size: 2em;
	width: 70%;
	text-align: center;
	color:white;
}

.intro
{
	position: absolute;
	top:40%;
}

.navbar-btn
{
	margin-right: 20px;
	border:1px solid black;
	font-size: 1em;
}

.nav
{
	background-color: white;
}