@import 'https://fonts.googleapis.com/css?family=Roboto';
*
{
	font-family: 'Roboto', sans-serif;
}

/*Override texture background*/
body
{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b3dced+0,29b8e5+50,bce0ee+100;Blue+Pipe */
background-color: #373f54;

}

.nav
{
	background-color: white;
}

.wrapper
{
	width: 60%;
	height: 100%;
	margin:auto;
	color:white;
	position: relative;
}

.wrapper form
{
	position: absolute;
	top:35%;
	left:0%;
}

h1
{
	color:white;
	text-align: center;
}

label
{
	font-size: 2em;
	font-weight: 100;
	display: inline-block;
	margin:auto;
	color:white;
}

input
{
	background-color: #3CBC8D;
    color: white;
    font-size: 1.6em;
    width: 30%;
    margin-bottom: 20px;
}

.submit-button
{
	text-align: center;
	margin:auto;
	width: 100%;
	border-color: black;
	border-radius: 10px;
}