.user-section
{
	border-left:1px solid black;
	width: 20%;
	height: 100px;
	display: inline-block;
	position: fixed;
	left:80%;
	top:0px;
}

.username
{
	position:relative;
	display:inline-block;
	color:black;
	font-family: 'Roboto', sans-serif;
	font-size: 1.6em;
	text-align: center;
	width: 100%;
}

.logout 
{
	position: relative;
	display: inline-block;
	height: 30px;
	left:33%;
}

.logout a
{
	color:white;
	position: relative;
	bottom: 5px;
	font-size:0.7em;
}
